```{=html}
<div class="sponsorsFooter">
  <ul class="speakers-grid">
    <% for (const item of items) { %>
      <li class="speaker-card">
        <a href="<%- item.href %>" target="_blank">
          <img width="200" height="200"
               style="border-radius: 40%;"
               src="<%- item.thumbnail %>"
               alt="<%= item.name %> picture" />
        </a>

        <p>
          <strong><%= item.name %></strong><br/>
          <%= item.affiliation %><br/>
        </p>

        <ul class="social-list">
          <% for (const tile of item.social) { %>
            <li class="socialIcons">
              <% if (tile.website) { %>
                <a href="<%- tile.website %>"><i class="bi bi-globe"></i></a>
              <% } %>
              <% if (tile.github) { %>
                <a href="<%- tile.github %>"><i class="bi bi-github"></i></a>
              <% } %>
              <% if (tile.twitter) { %>
                <a href="<%- tile.twitter %>"><i class="bi bi-twitter"></i></a>
              <% } %>
              <% if (tile.linkedin) { %>
                <a href="<%- tile.linkedin %>"><i class="bi bi-linkedin"></i></a>
              <% } %>
            </li>
          <% } %>
        </ul>
      </li>
    <% } %>
  </ul>
</div>

```